{% extends 'base.html' %}
{% block title %}
    BookWise
{% endblock %}
{% block content %}
<style>
    /* Apply the diagonal linear gradient background to the body or any desired container */
    body {
        background: linear-gradient(135deg, #31b7c2, #7bc393);
    }

    /* Apply the text color for content within the container */
    .container1 {
        color: #fff; /* You can choose a suitable text color for readability on the gradient background */
    }
</style>
<div class="container1">
    <!-- Content goes here -->
</div>

<script>
    window.onbeforeunload = function() {
        // Get a reference to the input element
        var inputElement = document.getElementById('exampleDataList');

        // Clear the input value
        inputElement.value = '';

        // Return null to allow the user to navigate away
        return null;
    };
</script>
{% endblock %}
