{% extends 'base.html' %}
{% block title %}
BookWise
{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="text-center">Welcome to "The Adventure Begins"</h2>
      <p class="text-muted text-center">By John Doe</p>
      <hr>

      <div class="row">
        <div class="col-md-4">
          <img src="static/images/four.jpg" alt="Book Cover" class="img-fluid">
        </div>
        <div class="col-md-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu justo urna. Nulla euismod feugiat nisi ut vestibulum. Nullam facilisis metus a risus dictum, non ullamcorper erat eleifend. Duis vulputate, ex eget hendrerit suscipit, massa odio vestibulum dolor, id facilisis nunc risus sit amet est. Curabitur eu orci lacinia, dignissim enim in, posuere nunc. Vivamus congue tincidunt ex, vel tempus justo vehicula nec. Phasellus ac fermentum enim. Vestibulum eu sollicitudin odio, id euismod purus. Duis gravida, lectus ac ultrices viverra, justo sapien congue libero, eu tristique orci neque vel ex.</p>

          <p>Vestibulum dapibus nunc a mauris euismod, sed efficitur quam mattis. Praesent semper, neque eu blandit viverra, odio eros laoreet libero, sit amet egestas leo justo a ligula. Sed luctus sodales euismod. Nunc auctor luctus arcu at dignissim. Pellentesque euismod vehicula odio id laoreet. Cras sit amet lacus a tortor posuere mattis. Suspendisse a metus justo. Nulla bibendum non nulla sit amet efficitur.</p>

          <p>Etiam ultrices mi et orci feugiat, sed eleifend libero consequat. Sed a lectus sed quam egestas posuere. Vivamus non massa eget justo pellentesque pellentesque. Sed in odio id quam ultrices lacinia. Donec malesuada ultrices metus eu facilisis. Phasellus a metus ac eros aliquet condimentum vel at urna. Quisque laoreet nunc vel cursus consectetur. Vestibulum bibendum nulla vitae malesuada. Vestibulum vitae ultrices dolor, eu pellentesque urna.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
